body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scr{
  width: 80%;
  margin : 20px auto;
}
.bJXVtu{
background-color: #0070ad !important;
}
.kCEzYv{
  width: 80% !important;
  margin: 0px auto !important;
  border-radius: 20px 0px 20px 0px !important;
  box-shadow: 24px 2px 24px 2px rgba(2, 19, 24, 0.39) !important;
  height: 457px !important;
}
.Elmld {
background-color: #3b4041 !important;
}
.btCzFh, .eBMzNT, .fGSMaW {
  background-color: #0e323e80 !important;
  font-size: 16px !important;
}
.eBMzNT, .fGSMaW{
  font-size: 16px !important;
  margin : 0px 0 10px 58px !important;
}
.logo{
  width: 80% !important;
  margin: 0px auto !important;
}
.bJXVtu{
  display: none !important;
}
.fkcGjN{
  font-size: 16px !important;
}

.boxcontainer{
  margin-top: 60px;
}

.kCEzYv{
  background: #12aada14 !important;
}
.kNrYDJ{
  background: #ecf8fc !important;
}
